<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="code.android.ngocthai.mynote">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/MyMaterialTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Modules.Note.ListNotePrivateActivity"
            android:label="@string/title_activity_list_note_private"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Modules.Note.EditNoteActivity"
            android:label="@string/title_activity_edit_note_private"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Modules.Note.AddNoteActivity"
            android:label="@string/title_activity_add_note_public"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Modules.Another.ThemeActivity"
            android:label="@string/title_activity_theme"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Modules.Work.AddWorkActivity"
            android:label="@string/title_activity_add_work"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Modules.Work.EditWorkActivity"
            android:label="@string/title_activity_edit_work"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
